* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    margin: 0;
    background-color: #202326;
}

canvas {
    box-shadow: 2px 2px #303030;   
}

/* Top navigation bar */
.navbar {
    display: flex;
    font-family: 'Times New Roman', serif;
    background-color: #375a7f;
    border-width: 2px 0 2px 0;
    border-style: solid;
}

/* Navigation bar links */
.navbar a {
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    text-align: center;
}

/* Change color on hover */
.navbar a:hover {
    background-color: #345475;
}

/* Column container */
.container {  
    display: flex;
    flex-wrap: wrap;
    background-color: #222222;
}

/* Main column */
.main {
    flex: 70%;
    padding: 20px;
}

.display_area {
    font-size: small;
    color: white;
    text-align: center;
}

#controls {
    margin-top: 5px;
}
#controls table {
    position: relative;
    left: 50%; 
    transform: translateX(-50%);
}

.collapsible {
    margin-top: 10px;
    background-color: #375a7f;
    color: white;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
.collapsible:hover {
    background-color: #345475;
}
.collapsible:after {
    margin-right: 10px;
    content: url('assets/arrow-down-fill.svg');
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
.active_section:after {
    margin-right: 10px;
    content: url('assets/arrow-up-fill.svg');
}

span.icon {
    margin-right: 5px;
    display: inline-block;
    width: 30px; 
    text-align: center; 
    color: black; 
    background-color: #f0f0f0;
    border-radius: 10%;
    box-shadow: 2px 2px #858585;
} 

#keyboard_shortcuts, #image_details {
    padding: 5px;
    overflow: hidden;
    background-color: #f0f0f0;
    font-size: medium;
}

#keyboard_shortcuts th {
    text-align: left;
}

#keyboard_shortcuts tr:hover {
    background-color: #d9d9d9;
}

span.key, span.key_mod, span.link_blue, span.link_red, span.link_magenta {
    display: inline-block;
    padding: 5px;
    margin: 0 2px 0 0;
    min-width: 20px;
    border-radius: 10%;
    box-shadow: 2px 2px #858585;
    background: #333;
    color: white;
    font-size: small;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
}
span.key_mod {
    min-width: 50px;
}
span.link_blue {
    background-color: #0000e0;
}
span.link_red {
    background-color: #e00000;
}
span.link_magenta {
    background-color: #e000e0;
}
span.key:hover, span.key_mod:hover, .key_input:hover {
    background-color: #5c5c5c;
}

.key_input, .key_input_wide, .key_input_blue, .key_input_red, .key_input_magenta {
    background: #333;
    color: white;
    display: inline-block;
    vertical-align: middle;
    min-width: 40px;
    min-height: 40px;
    margin: 0 4px 4px 0;
    border-radius: 8px;
}

.key_input_wide {
    min-width: 50px;
}

.key_input_blue {
    background-color: #0000e0;
}

.key_input_red {
    background-color: #e00000;
}

.key_input_magenta {
    background-color: #e000e0;
}

.key_input_active {
    background-color: #375a7f;
}

.key_input_active:hover {
    background-color: #375a7f;
}

/* Header */
header {
    font-family: 'Times New Roman', serif;
    padding: 10px;
    text-align: center;
    color: white;
    background: #202326;
}

/* Footer */
footer {
    background: #375a7f;
    color: white;
    font-size: medium;
    margin: 0;
    padding: 10px;
    text-align: center;
    width: 100%;
}
footer a {
    color: lightblue;
}
footer p {
    margin: 0;
}
